In [4]:
import requests
import html5lib
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
import time
import re

In [5]:
driver = webdriver.Chrome()


url = "https://www.cse.iitb.ac.in/academics/courses"
driver.get(url)


driver.maximize_window()

try:
    wait = WebDriverWait(driver, 10)
    autumn = driver.find_element(By.CLASS_NAME, "accordion-button.collapsed")
    autumn.click()
    content = driver.page_source
    soup = BeautifulSoup(content, "html.parser")

except Exception as e:
    print(f"An error occurred: {e}")

driver.quit()

In [6]:
table = content.split("<span title=")
course_names = []
table = table[1:len(table)]
i = 0
for names in table:
    name = names.split("class=")
    if(name[0].find("Prof") == -1):
        course_names.append(name[0][1:len(name[0]) - 2])

In [7]:
table = content.split("course-id ng-star-inserted")
table = table[1:]
code = []
for codes in table:
    codes = codes.split(" </a>")
    codes = codes[0].split("> ")
    code.append(codes[1])

In [8]:
short_name = []
for name in course_names:
    a = ""
    for i in name:
        if(i <= 'Z' and i >= 'A'):
            a += i
    short_name.append(a)

In [9]:
df = pd.DataFrame()
df['Course Code'] = code
df['Course Name'] = course_names
df['Short names'] = short_name
df.to_csv("courses.csv",index = False)
df

    Course Code                           Course Name Short names
0        CS 101  Computer Programming and Utilization         CPU
1        CS 105                   Discrete Structures          DS
2        CS 213        Data Structures and Algorithms         DSA
3        CS 215      Data Analysis and Interpretation         DAI
4      CS 218 M     Design and Analysis of Algorithms         DAA
..          ...                                   ...         ...
101      CS 208            Automata Theory and Logic          ATL
102      CS 210                         Logic Design           LD
103      CS 211                      Software Lab two          SL
104      CS 212                  Electronics Design I         EDI
105      CS 213        Data Structures and Algorithms         DSA

[106 rows x 3 columns]